.podcast {
    &-card {
        &-image-selected {
            position: absolute !important;
            z-index: 2;
        }

        &-left {
            width: 20%;
            float: left;
        }

        &-right {
            width: 75%;
            float: right;
        }
    }
}
